.gallery {
  padding-bottom: 20px;
}

.gallery__title {
  font-weight: 400;
  font-size: large;

  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.gallery__section {
  list-style-type: none;
  margin: 0;
}

.gallery__section__item {
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 5px;
  margin-right: 5px;
  /* border: 1px outset white; */
}
.gallery__item:hover {
  /* border: 1px ridge grey; */
}

.current-page {
  font-weight: bold;
  background-color: yellow;
}

.education__section {
  padding-bottom: 30px;
}

.education__section__header__wrapper {
  padding-bottom: 10px;
}

.education__section__header {
  display: inline-block;
}

.education__section__header__timeline {
  font-weight: bold;
  font-size: large;
  padding-right: 20px;
}

.education__section__header__university {
  font-style: italic;
}

ul.education-list {
  list-style-type: none;
}

li.education_listing {
  padding: 10px;
}

ul.job-list {
  list-style-type: none;
}

li.job_listing {
  padding: 10px;
}

.job__section {
  margin: 20px;
}

.job__section__header__wrapper {
  padding-bottom: 20px;
}

.job__section__header__title {
  font-size: large;
  font-weight: bold;
}

.job__section__header__timeline {
  padding-right: 10px;
}

.job__section__header__company {
  font-style: italic;
}
